.modalBackground {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
}
.modalShowing-true {
  opacity: 1;
  pointer-events: visible;
}
.modalInner {
  background: #fff;
  width: 900px;
  max-width: calc(100% - 60px);
  margin: auto;
  color: #333333;
  position: relative;
}
.modalText {
  text-align: left;
  padding: 15px;
  justify-self: flex-start;
}
.modalText p {
  line-height: 180%;
  padding-left: 0;
}
.modalImage {
  display: flex;
  width: 100%;
  justify-content: center;
}
.modalImage img {
  display: block;
  height: 100%;
  width: 50%;
  object-fit: contain;
  padding: 2%;
}
.modalText a {
  display: block;
  color: #777;
  width: 100%;
  text-align: center;
  padding: 2%;
  background-color: #eff0e8;
  margin-bottom: 2%;
  transition: 0.3s ease-in-out;
  font-family: "Raleway", sans-serif;
}
.modalText a:hover {
  background-color: #4ea993;
  color: #eff0e8;
}
button.exit {
  padding: 15px;
  background: none;
  border: 0;
  box-sizing: border-box;
  color: transparent;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  right: -20%;
  letter-spacing: 1.5px;
  line-height: 50px;
  outline: none;
  overflow: hidden;
  padding: 10px 0 0;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
  width: 100px;
}

button.exit::before,
button.exit::after {
  background-color: white;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transform-origin: center left;
  transition: all 0.2s ease-in;
  width: 141.4214px;
  z-index: -1;
}

button.exit::before {
  top: 0;
  transform: rotate(45deg);
}

button.exit::after {
  bottom: 0;
  transform: rotate(-45deg);
}

button.exit:hover {
  color: #333333;
}

button.exit:hover::before,
button.exit:hover::after {
  height: 50px;
  transform: rotate(0deg);
}

#modal-btn {
  display: block;
  width: 100%;
  padding: 1%;
  font-family: "Raleway", sans-serif;
  background: transparent;
  color: #777;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#modal-btn:hover {
  background-color: #4ea993;
  color: #fff;
}
