@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Open+Sans&display=swap");
/* font-family: 'DM Mono', monospace;
font-family: 'Open Sans', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.App {
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-family: "DM Mono", monospace;
}

.logo img {
  display: block;
  width: 80px;
  transition: background-color 250ms ease-in-out, transform 150ms ease;
}

.logo img:hover {
  background-color: #dda8cf;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav a {
  font-size: 1.3em;
  color: black;
  padding: 0.4em 0.5em;
  display: inline-block;
  transition: background-color 250ms ease-in-out, transform 150ms ease;
}

.nav a:hover {
  background-color: rgb(130, 130, 172);
  transition: ease-in-out 250ms;
  color: white;
}

.nav a:focus,
.nav a:active {
  color: purple;
}

.hero {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Mono", monospace;
}

.hero-info {
  padding: 5% 5%;
  width: 65%;
  font-weight: bold;
  outline: double;
  color: white;
  background-color: #5e254f;
  display: flex;
  flex-direction: column;
  justify-items: space-around;
  justify-content: space-evenly;
  height: 35%;
}

.hero-info h1 {
  padding-bottom: 0.6em;
  font-size: 2.2em;
}

.hero-info h2 {
  font-weight: 400;
  padding-bottom: 2em;
  font-size: 1.7em;
}

img {
  width: 200px;
}

.dark {
  background-color: #f1f1f1;
}

.about-me {
  margin: 0 auto;
  text-align: center;
  padding: 2% 2%;
  width: 80%;
  border-radius: 5%;
  height: calc(100vh - 80px);
}

.about-me h3 {
  font-size: 2.1em;
  padding: 2% 2%;
  font-family: "DM Mono", monospace;
}

.about-me p {
  margin: 0 auto;
  width: 70%;
  line-height: 1.5;
  font-size: 1.6em;
  font-family: "Open Sans", sans-serif;
}
.shot img {
  margin: 0 auto;
  display: block;
  border-radius: 10%;
  padding: 4% 0;
  object-fit: fill;
}

.projects {
  padding-top: 10%;
  padding-bottom: 10%;
}

.projects h2 {
  text-align: center;
  font-family: "DM Mono", monospace;
  padding-bottom: 5%;
  font-size: 2.1em;
}

div.grid {
  margin: 2% 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3%;
  text-align: center;
}

div.grid-item {
  padding: 10%;
  color: white;
  background-color: #717796;
}

.grid-item img {
  display: block;
  width: 90%;
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 10%;
  opacity: 0.8;
}

.grid-item img:hover {
  opacity: 1;
  box-shadow: 2px 5px #141414a4;
}

.grid-item h3 {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  padding-bottom: 10%;
  font-size: 1.3em;
}

.grid-item p {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  text-align: left;
  padding-left: 12%;
  line-height: 1.4;
  font-size: 1.1em;
}

p.desc {
  padding-bottom: 3%;
}

p.technology {
  padding-bottom: 5%;
}

footer {
  padding: 1em;
  text-align: center;
  font-family: "DM Mono", monospace;
  background-color: #e2dddd;
  width: 100%;
}

footer p {
  line-height: 1.7;
  font-weight: 400;
}

.hero-info button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #1e2124;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  align-self: flex-end;
  font-family: "Open Sans", sans-serif;
}

.hero-info button a {
  color: white;
}

button:hover,
button:focus {
  background: #1b3657dc;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

a.social-media {
  display: inline-block;
  color: #2d1b4e;
}

i.fab,
i.fas {
  width: 40px;
  font-size: 24px;
  transition: ease-out 250ms;
  color: #2d1b4e;
}

i.fab:hover,
i.fas:hover {
  color: pink;
  font-size: 32px;
}

.form-container {
  background-color: #f1f1f1;
  padding: 4% 0 10% 0;
  text-align: center;
}

.form-container h3 {
  font-family: "DM Mono", monospace;
  padding-bottom: 2%;
  font-size: 2.1em;
}

.form-container p {
  margin-bottom: 2%;
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-size: 1.3em;
}

.form-container a {
  color: #2d1b4e;
}

.form-container a:hover {
  color: rgb(97, 9, 75);
  font-weight: 800;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  background-color: #521d5cd1;
  padding: 5% 2%;
  color: white;
  border-radius: 10%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2),
    0 0 0 8px rgba(255, 255, 255, 0.4);
}

.form-container h4 {
  text-align: center;
  padding-bottom: 5%;
  font-family: "DM Mono", monospace;
  font-size: 1.7em;
  font-weight: 300;
}

.form-container button {
  text-align: center;
  display: block;
  margin: 2% auto;
  width: 30%;
  padding: 2% 1%;
  font-size: 1.2em;
  font-family: "DM Mono", monospace;
}

.form-container button:hover {
  color: white;
}

input,
textarea {
  border: 5px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 9px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 9px rgba(0, 0, 0, 0.1);
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
  width: 100%;
  font-weight: 300;
  font-size: 1.1em;
  font-family: "PT Sans", sans-serif;
}
label {
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media only screen 
and (max-device-width : 550px) 
/* and (max-device-width : 812px) */
/* and (-webkit-device-pixel-ratio : 3)  */
{
  header, .nav{
    flex-direction: column;
  }

  .hero{
    height: 100%;
  }
  .hero-info{
    width: 100%;
  }
  .about-me{
    height:100%;
  }
  .shot img{
    width: 60%;
  }
  .about-me p{
    width: 100%;
    font-size: 1em;
  }
  .projects{
    padding-top: 5%;
    padding-bottom: 0;
  }
  div.grid{
    grid-template-columns: 1fr;
    gap: 0;
    margin: 0;
  }
  .grid-item{
    border: 1px solid black; 
  }
  .grid-item p{
    font-size: 1em;
    padding-left: 8%;
  }
  form{
    width: 80%;
  }
  .form-container h4{
    font-size: 1.2em;
  }
  label{
    margin-bottom: 0;
  }
  input, textarea{
    border: 2px solid white;
  }
}