@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,800&display=swap");

/*/////////////////////////////////////////////
///////////////// Universal styles /////////////
///////////////////////////////////////////////*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.App {
  max-width: 900px;
  margin: 2% auto;
  padding: 2%;
}
main {
  padding: 2% 0;
}
/*/////////////////////////////////
////////////Header////////////////
//////////////////////////////////*/

header {
  display: flex;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  font-family: "Raleway", sans-serif;
  border-bottom: 1px solid #ddd;
  padding-bottom: 2%;
  margin: 0 auto 5% auto;
}

.logo img {
  display: block;
  width: 60px;
  -webkit-transition: background-color 250ms ease-in-out,
    -webkit-transform 150ms ease;
  transition: background-color 250ms ease-in-out, -webkit-transform 150ms ease;
  transition: background-color 250ms ease-in-out, transform 150ms ease;
  transition: background-color 250ms ease-in-out, transform 150ms ease,
    -webkit-transform 150ms ease;
  color: blue;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.logo img:hover {
  background-color: #4ea993;
  border-radius: 50%;
  transform: translateY(-18px);
}
header h1 {
  -webkit-transition: background-color 250ms ease-in-out,
    -webkit-transform 150ms ease;
  transition: background-color 250ms ease-in-out, -webkit-transform 150ms ease;
  transition: background-color 250ms ease-in-out, transform 150ms ease;
  transition: background-color 250ms ease-in-out, transform 150ms ease,
    -webkit-transform 150ms ease;
  padding: 0.6em 0.2em;
  font-family: "Oswald", sans-serif;
  letter-spacing: 4px;
  color: #222;
  border-radius: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
header h1:hover {
  border-bottom: 1px solid #4ea993;
}
/*///////////////////////////////
////////////Navigation///////////
////////////////////////////////*/
.nav {
  display: none;
}

/*/////Moble menu toggle button/////////*/
.toggle-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #777;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.toggle-btn:hover {
  color: #4ea993;
  background: transparent;
}

@media screen and (min-width: 768px) {
  .toggle-btn {
    display: none;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .nav a {
    display: inline-block;
    font-size: 1.1em;
    color: rgb(109, 105, 105);
    background-color: transparent;
    padding: 0.6em 0.9em;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .nav a:hover {
    border-bottom: 1px solid #4ea993;
  }

  .nav a:active,
  .nav a:focus {
    color: #111111;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    background: transparent;
  }
}

.sidebar {
  background: #fcfcfc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: -ms-grid;
  display: grid;
  place-items: center;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.show-sidebar {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.sidebar-links li {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.sidebar-links li a {
  display: block;
  color: rgb(109, 105, 105);
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-family: "Raleway", sans-serif;
}
.sidebar-links li a:hover {
  color: #4ea993;
}
.close-btn {
  position: absolute;
  right: 4.75%;
  top: 2.75%;
  font-size: 2.5rem;
  background: transparent;
  border-color: transparent;
  color: #777;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .sidebar {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
/*////////////////////////////////
////////////Hero section//////////
/////////////////////////////////*/

.hero {
  width: 100%;
  margin: 0 auto;
  height: 55vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

.hero-info {
  padding: 2% 2%;
  width: 100%;
  color: #faf7f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-grid-column-align: space-around;
  justify-items: space-around;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  height: 40%;
}

.hero-info h2 {
  letter-spacing: 8px;
  padding-bottom: 0.6em;
  font-size: 3em;
  color: #4ea993;
  text-shadow: 2px 1px #1a6b63;
}

.hero-info p {
  letter-spacing: 4px;
  font-weight: 800;
  padding-bottom: 2.2em;
  font-size: 1em;
  color: #777;
}

/*////////////////////////////////////
/////////////About me/////////////////
/////////////////////////////////////*/

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2% 2% 10% 2%;
  width: 100%;
}
.me-info {
  width: 100%;
}
.me-info h3 {
  font-size: 1.8em;
  padding: 0 2% 4% 0;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  color: #333;
}

.me-info p {
  width: 80%;
  line-height: 1.6em;
  font-size: 1.3em;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #777;
}
.shot img {
  width: 90%;
  display: block;
  -o-object-fit: fill;
  object-fit: fill;
  border: 1.2em solid #faf7f8;
  margin-top: 10%;
}

/*///////////////////////////////////////
///////////Portfolio showcase////////////
/////////////////////////////////////////*/

.projects {
  padding-bottom: 5%;
  width: 100%;
  margin: 0 auto;
}

/*////////////////////////////////
/////////////Grid////////////////
/////////////////////////////////*/
div.grid {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 3%;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

div.grid-item {
  color: #111111;
}

.grid-item img {
  display: block;
  width: 100%;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  margin: 0 auto;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.grid-item img:hover {
  opacity: 1;
}

.grid-item h3 {
  font-family: "Raleway", sans-serif;
  color: rgb(109, 105, 105);
  font-weight: 400;
  font-style: normal;
  line-height: 1.6em;
  font-size: 1em;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0px;
  padding-top: 1em;
}

.grid-item p {
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
  text-align: left;
  padding-left: 5%;
  line-height: 1.4;
  font-size: 1.1em;
}
span.hover {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  margin-bottom: 5%;
}
p.desc {
  padding-bottom: 3%;
}

p.technology {
  padding-bottom: 5%;
  font-weight: 600;
}
/*////////////////////////////////
//////////////Footer//////////////
//////////////////////////////////*/
footer {
  border-top: 1px solid #ddd;
  padding-bottom: 1em;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-family: "Raleway", sans-serif;
  margin: 5% auto 0 auto;
  width: 100%;
}

footer p {
  line-height: 1.6em;
  font-weight: 400;
  color: #777;
  margin: 0 auto;
  padding: 2%;
  width: 100%;
}

/*////////////////////////
///////////Buttons//////////
////////////////////////////*/

button:hover,
button:focus {
  background: #1d223c;
  color: #f3edf1;
}

/*/////////////////////////////////////////
/////////////Social media icons//////////
//////////////////////////////////////////*/

a.social-media {
  display: inline-block;
  color: #777777;
  padding: 1%;
}

i.fab,
i.fas,
i.footer-icons {
  font-size: 25px;
  -webkit-transition: ease-out 250ms;
  transition: ease-out 250ms;
  color: #777777;
  padding: 5%;
}

a.social-media,
i.fab:hover,
i.fas:hover {
  color: #4ea993;
}

i.footer-icons:hover {
  color: #4ea993;
}

/*//////////////////////////////////////////////////
//////////////Contact me section////////////////////
/////////////////////////////////////////////////////*/

.form-container {
  padding: 1% 0 2% 0;
  text-align: center;
}

.form-container h3 {
  font-family: "Oswald", sans-serif;
  padding-bottom: 2%;
  font-size: 2.1em;
}

.form-container p {
  margin-bottom: 7%;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 1.3em;
}

.form-container a {
  color: #2d1b4e;
  font-weight: normal;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.form-container a:hover {
  color: #4ea993;
  font-weight: 800;
}

form {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  background-color: #eff0e8;
  padding: 2% 2%;
  color: #111111;
  border-radius: 10%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2),
    0 0 0 8px rgba(255, 255, 255, 0.4);
}

.form-container h4 {
  text-align: center;
  padding-bottom: 5%;
  font-family: "Oswald", sans-serif;
  font-size: 1.7em;
  font-weight: 300;
}

.form-container button {
  text-align: center;
  display: block;
  margin: 2% auto;
  width: 30%;
  padding: 2% 1%;
  font-size: 1.2em;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
  border: 1px solid #4ea993;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.form-container button:hover {
  color: white;
  background-color: #4ea993;
}

input,
textarea {
  border: 5px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 9px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 9px rgba(0, 0, 0, 0.1);
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
  width: 100%;
  font-weight: 300;
  font-size: 1.1em;
  font-family: "Raleway", sans-serif;
}
label {
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-top: 2%;
}
p.response {
  text-align: center;
}

/*///////////////////////////////////////////
///////////////Media queries///////////////
////////////////////////////////////////////*/

@media only screen and (max-device-width: 768px) {
  .me-info p {
    width: 80%;
  }
  form {
    width: 60%;
  }

  .hero-info {
    padding: 5% 5%;
  }
}

@media only screen and (max-device-width: 550px) /* and (max-device-width: 812px) */ /* and (-webkit-device-pixel-ratio: 3) */ {
  header,
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero-info {
    padding: 5% 5%;
  }

  .hero-info h1 {
    font-size: 1.9em;
  }
  .about-me {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .shot img {
    width: 70%;
  }
  .me-info p {
    width: 100%;
    font-size: 1em;
  }
  .projects {
    padding-top: 5%;
    padding-bottom: 0;
  }
  div.grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 0;
    margin: 0;
  }

  .grid-item img {
    width: 90%;
  }
  .grid-item p {
    font-size: 1em;
    padding-left: 8%;
  }
  span.hover {
    display: none;
  }
  form {
    width: 80%;
  }

  .form-container h4 {
    font-size: 1.2em;
  }
  label {
    margin-bottom: 0;
    text-transform: inherit;
  }
  input,
  textarea {
    border: 2px solid white;
  }
  .toggle-btn {
    -ms-flex-item-align: baseline;
    align-self: baseline;
  }
}
