@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Open+Sans&display=swap");
/*/////////////////////////////////////////////
///////////////// Universal styles /////////////
///////////////////////////////////////////////*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.App {
  margin: 0 auto;
}

/*/////////////////////////////////
////////////Header////////////////
//////////////////////////////////*/

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-family: "DM Mono", monospace;
}

.logo img {
  display: block;
  width: 80px;
  transition: background-color 250ms ease-in-out, transform 150ms ease;
}

.logo img:hover {
  background-color: #dda8cf;
}

/*///////////////////////////////
////////////Navigation///////////
////////////////////////////////*/

.nav {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav a {
  display: inline-block;
  font-size: 1.3em;
  color: black;
  background-color: transparent;
  padding: 0.5em 0.7em;
  transition: 0.3s ease-in-out;
}

.nav a:hover {
  background-color: #1d223c;
  color: #faf7f8;
}

.nav a:focus,
.nav a:active {
  color: purple;
}

/*////////////////////////////////
////////////Hero section//////////
/////////////////////////////////*/

.hero {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Mono", monospace;
  background-color: #6a4661;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23f6f5ff'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%234258ff'/%3E%3Cstop offset='1' stop-color='%239f39b8'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.hero-info {
  padding: 5% 5%;
  width: 65%;
  font-weight: bold;
  color: #faf7f8;
  background-color: #9187a1;
  display: flex;
  flex-direction: column;
  justify-items: space-around;
  justify-content: space-evenly;
  height: 35%;
}

.hero-info h1 {
  padding-bottom: 0.6em;
  font-size: 2.2em;
}

.hero-info h2 {
  font-weight: 400;
  padding-bottom: 2em;
  font-size: 1.7em;
}

/*////////////////////////////////////
/////////////About me/////////////////
/////////////////////////////////////*/

.dark {
  background-color: #f1f1f1;
}

.about-me {
  margin: 0 auto;
  text-align: center;
  padding: 2% 2%;
  width: 80%;
  border-radius: 5%;
  height: calc(100vh - 80px);
}

.about-me h3 {
  font-size: 2.1em;
  padding: 2% 2%;
  font-family: "DM Mono", monospace;
}

.about-me p {
  margin: 0 auto;
  width: 70%;
  line-height: 1.5;
  font-size: 1.6em;
  font-family: "Open Sans", sans-serif;
}
.shot img {
  width: 15%;
  margin: 0 auto;
  display: block;
  border-radius: 10%;
  padding: 2% 0;
  object-fit: fill;
}

/*///////////////////////////////////////
///////////Portfolio showcase////////////
/////////////////////////////////////////*/

.projects {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #987c95;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23987c95'/%3E%3Cstop offset='1' stop-color='%2393829e'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23f2d4a7' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23f2d4a7' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23f2d4a7' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23f2d4a7' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.projects h2 {
  text-align: center;
  font-family: "DM Mono", monospace;
  padding-bottom: 5%;
  font-size: 2.1em;
}
/*////////////////////////////////
/////////////Grid////////////////
/////////////////////////////////*/
div.grid {
  margin: 2% 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3%;
  text-align: center;
}

div.grid-item {
  padding: 10%;
  color: #faf7f8;
  background-color: #6e667a;
}

.grid-item img {
  display: block;
  width: 90%;
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 10%;
  opacity: 0.8;
}

.grid-item img:hover {
  opacity: 1;
  box-shadow: 2px 5px #f2d4a7;
}

.grid-item h3 {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  padding-bottom: 10%;
  font-size: 1.3em;
}

.grid-item p {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  text-align: left;
  padding-left: 5%;
  line-height: 1.4;
  font-size: 1.1em;
}

p.desc {
  padding-bottom: 3%;
}

p.technology {
  padding-bottom: 5%;
}
/*////////////////////////////////
//////////////Footer//////////////
//////////////////////////////////*/
footer {
  padding: 1em;
  text-align: center;
  font-family: "DM Mono", monospace;
  background-color: #f2d4a7;
  width: 100%;
}

footer p {
  line-height: 1.7;
  font-weight: 400;
}

/*////////////////////////
///////////Buttons//////////
////////////////////////////*/

button:hover,
button:focus {
  background: #1d223c;
  color: #f3edf1;
}

a.hero-button {
  display: inline-block;
  border: none;
  padding: 1.2rem 2.2rem;
  margin: 0;
  text-decoration: none;
  background: #1d223c;
  color: #f3edf1;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  align-self: flex-end;
  font-family: "Open Sans", sans-serif;
}

a.hero-button:hover,
a.hero-button:focus {
  background: #f2d4a7;
  color: #1d223c;
}

a.hero-button:focus,
button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active,
a.hero-button:active {
  transform: scale(0.99);
}

/*/////////////////////////////////////////
/////////////Social media icons//////////
//////////////////////////////////////////*/

a.social-media {
  display: inline-block;
  color: #2d1b4e;
}

i.fab,
i.fas {
  width: 40px;
  font-size: 24px;
  transition: ease-out 250ms;
  color: #2d1b4e;
}

i.fab:hover,
i.fas:hover {
  color: #f2d4a7;
  font-size: 32px;
}

i.footer-icons:hover {
  color: #291e2d;
}

/*//////////////////////////////////////////////////
//////////////Contact me section////////////////////
/////////////////////////////////////////////////////*/

.form-container {
  background-color: #f1f1f1;
  padding: 4% 0 10% 0;
  text-align: center;
}

.form-container h3 {
  font-family: "DM Mono", monospace;
  padding-bottom: 2%;
  font-size: 2.1em;
}

.form-container p {
  margin-bottom: 2%;
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-size: 1.3em;
}

.form-container a {
  color: #2d1b4e;
}

.form-container a:hover {
  color: rgb(97, 9, 75);
  font-weight: 800;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  background-color: #8a7d9c;
  padding: 5% 2%;
  color: #f3edf1;
  border-radius: 10%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2),
    0 0 0 8px rgba(255, 255, 255, 0.4);
}

.form-container h4 {
  text-align: center;
  padding-bottom: 5%;
  font-family: "DM Mono", monospace;
  font-size: 1.7em;
  font-weight: 300;
}

.form-container button {
  text-align: center;
  display: block;
  margin: 2% auto;
  width: 30%;
  padding: 2% 1%;
  font-size: 1.2em;
  font-family: "DM Mono", monospace;
  cursor: pointer;
}

.form-container button:hover {
  color: white;
}

input,
textarea {
  border: 5px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 9px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 9px rgba(0, 0, 0, 0.1);
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
  width: 100%;
  font-weight: 300;
  font-size: 1.1em;
  font-family: "PT Sans", sans-serif;
}
label {
  text-transform: uppercase;
  margin-bottom: 10px;
}
p.response {
  text-align: center;
}

/*///////////////////////////////////////////
///////////////Media queries///////////////
////////////////////////////////////////////*/

@media only screen and (max-device-width: 550px) /* and (max-device-width: 812px) */ /* and (-webkit-device-pixel-ratio: 3) */ {
  header,
  .nav {
    flex-direction: column;
  }
  .hero {
    background-color: #6a4661;
  }
  .hero-info {
    width: 100%;
    padding: 5% 5%;
    background-color: #7a718a;
  }
  .hero-info button {
    align-self: flex-start;
  }
  .hero-info h1 {
    font-size: 1.9em;
  }
  .shot img {
    width: 60%;
  }
  .about-me p {
    width: 100%;
    font-size: 1em;
  }
  .projects {
    padding-top: 5%;
    padding-bottom: 0;
  }
  div.grid {
    grid-template-columns: 1fr;
    gap: 0;
    margin: 0;
  }
  .grid-item {
    border: 1px solid black;
  }
  .grid-item p {
    font-size: 1em;
    padding-left: 8%;
  }
  form {
    width: 80%;
    border-radius: inherit;
  }
  .form-container {
    background-color: #f1f1f1;
  }
  .form-container h4 {
    font-size: 1.2em;
  }
  label {
    margin-bottom: 0;
    text-transform: inherit;
  }
  input,
  textarea {
    border: 2px solid white;
  }
}
